.nav {
    display: flex;
    justify-content: space-between;
    background-color: #005BAA;
}

.item {
    width: 100%;
    text-align: center;
}

.item a {color: white;

    font-size: 18px;
    display: block;
    padding: 15px;
    text-decoration: none}

.item:hover {
    background-color: #1D8EEA;
    -webkit-box-shadow: inset 0px 9px 5px -8px rgba(0,0,0,0.67);
    -moz-box-shadow: inset 0px 9px 5px -8px rgba(0,0,0,0.67);
    box-shadow: inset 0px 9px 5px -8px rgba(0,0,0,0.67);
    transition: 0.5s}

a.activeLink {background-color: #4d7799;}

.activeLink {-webkit-box-shadow: inset 0px 9px 5px -8px rgba(0,0,0,0.67);
    -moz-box-shadow: inset 0px 9px 5px -8px rgba(0,0,0,0.67);
    box-shadow: inset 0px 9px 5px -8px rgba(0,0,0,0.67);
    background-color:#65b5b5;}

img {
    max-width: 40px;
    cursor: pointer;
    margin: 0 auto;
}