.header {
    grid-area: h;
    background-color: #114471;
    max-width: 99vw;
    height: 65px;
}
.logos {
    margin: 0 0 0 30px;
    line-height: 60px;
    font-weight: 900;
    font-size: 17px;
    color: #262626;
}

.header img {
    width: 60px;
margin: 0 -14px -20px -9px}